@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: "Roboto", serif;
    --cor-principal: #013F88;
}

body {
    height: 100vh;
}

main {
    display: flex;
    /* gap: 50px; */

}

.intro {
    width: 60%;
    height: 100vh;
    background-image: url("../../../public/assets/images/fundo-login.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro h1 {
    color: #FFFFFF;
    padding-top: 30%;
    padding-left: 10%;
    font-family: var(--fonte-principal);
    font-size: 3rem;
}

.intro p {
    color: #FFFFFF;
    font-family: var(--fonte-principal);
    padding-left: 10%;
}

.formulario {
    width: 40%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    flex-direction: column;
    border: 1px solid;

}

.formulario h2 {
    margin-left: 40%;
    margin-top: 10px;
}

.formulario__interno {
    margin: 0 10%;
}
.formulario input {
    width: 90%;
    height: 35px;
}

.formulario__botao {
   
    background-color: var(--cor-principal);
    color: #FFFFFF;
    width: 40%;
    height: 35px;
    text-align: center;
    margin-left: 30%;
    

}

.formulario__botao:hover {
    background-color: #008CBA;
    
}

.formulario__input__esqueceu {
    display: block;
    text-align: right;
    margin: 2% 10%;
}



#togglePassword {
    background: none;
    border: none;
     position: absolute;
    right: 10px; 
    
    cursor: pointer;
    padding: 0;
}

#togglePassword i {
    font-size: 18px;
    color: #555;
}

input {
    display: block;
}

@media (max-width: 470px) {
    .intro {
        display: none ;
    }

    .formulario {
        width: 100%;
    }
}